/* CLASS SELECTOR */
:root {
    --space-lg: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-lg)
}

section {
    padding: 2rem;
    background-color: beige;
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 0 4px 12px rgba(0, 122, 25, 0.5);
    max-width: 900px;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    counter-reset: #111;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 12px 8px rgba(153, 144, 148, 0.5);
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    color: white;
    background: #2565eb;
}

thead {
    color: white;
    background-color: #2565eb;
}

thead th {
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
}

tbody td {
    padding: 0.9rem 1rem;
    border: 1px solid #e5e7eb;
    font-size: 0.95 rem;
    color: #374151;
}

tbody tr:nth-child(even) {
    background: #f3f4f6;
}

tbody tr:hover {
    background: #e0f2fe;
    transition: background 0.3s;
}

tfoot td {
    text-align: center;
    padding: 1rem;
    background: #f9fafb;
    font-size: 0.9rem;
    color: #4b5563;
    border-top: 2px solid #e5e7eb;
}

.registration-form {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background: #ffff;
    border-radius: 0.75rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registration-form h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #1f2937;
}

.registration-form fieldset {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background: #f9fafb;
}

.registration-form legend {
    font-weight: bold;
    color: blue;
    padding: 0 0.5rem;
}

.registration-form label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
    color: #374159;
}

.registration-form input[type="text"], 
.registration-form input[type="email"], 
.registration-form input[type="tel"], 
.registration-form input[type="date"], 
.registration-form select,
.registration-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
} 